
<footer>
    <div class="f-info-social">
        <a href="https://www.linkedin.com/in/kapil-singh-sisodiya-a572b1292/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/k_apil_02/?hl=en"><i class="fa-brands fa-square-instagram"></i></a>
        <a><i class="fa-brands fa-square-facebook"></i></a> 
    </div>
    <div class="f-info-brand">
    &copy; Roam&Round Private Limited
    </div>
    <div class="f-info-links">
      <a href="">Service</a>
      <a href="">Terms</a>
    </div>
</footer>