<% layout("/layouts/boilerplate")-%>
<body>
  <!-- <div id="filters">
    <a href="http://localhost:8080/listings/parti/Mountain">
      <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountains</p>
      </div>
    </a>
    <a href="http://localhost:8080/listings/parti/Farm">
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farm</p>
      </div>
    </a>
    <a href="http://localhost:8080/listings/parti/Lake">
      <div class="filter">
        <div><i class="fa-solid fa-water"></i></div>
        <p>Lake</p>
      </div>
    </a>
    <a href="http://localhost:8080/listings/parti/Island">
      <div class="filter">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Island</p>
      </div>
    </a>
    <a href="http://localhost:8080/listings/parti/Top Cities">
      <div class="filter">
        <div><i class="fa-solid fa-city"></i></div>
        <p>Top Cities</p>
      </div>
    </a>
  </div> -->
  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <% for( let listing of allListings ) { %>
    <div class="single-list">
      <a href="/listings/<%= listing._id %>" class="listing-img">
        <div class="card col" style="width: 20rem">
          <img
            src="<%= listing.image.url %>"
            class="card-img-top"
            alt="listing-img"
            style="height: 20rem"
          />
          <!-- <div class="card-img-overlay"></div> -->
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br />
              &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
            </p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</body>
